@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */
body {
  @apply bg-gray-900 text-gray-100 font-sans;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
